*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #222;
    
}
.card{
    width: 90%;
    max-width: 470px;
    background:linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

/* search section */
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    height: 60px;
    padding: 10px 25px;
    border-radius: 25px;
    margin-right: 16px;
    font-size: 18px;
    flex: 1;
}

.search button{
   border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer; 
}

.search button img{
    height: 26px;
}

/* content */

.weather-icon {
    width: 210px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    /* margin-top: -30px; */
}

/* detaile of humidity and wind speed */

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 40px;
}

.col{
    display: flex;
    align-items: center;
    justify-content: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity,.wind {
    font-size: 18px;
    /* margin-top: -6px; */
}

.weather {
    display: none;
}

.error{
    font-size: 18px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
    display: none;
}